.ratingStars {
    display: inline-block;
}

.ratingStars input {
    display: none;
}

.ratingStars label {
    float: right;
    transition: color 0.3s;
}

.ratingStars label:before {
    content: "\2605";
    font-size: 15px;
}

.ratingStars input:checked ~ label {
    color: #ffd700;
    transition: color 0.3s;
}
  