@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

.editButton {
    height: 18px;
    width: 55px;
    text-align: center;
    font-size: 10px;
    font-family: 'Zilla Slab', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(148, 49, 247);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid rgb(148, 49, 247);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 rgb(148, 49, 247);
  }
  
.editButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(148, 49, 247);
}
  
.editButton:active {
    transform: scale(0.9);
}