@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

.button {
    position: absolute;
    top: 0;
    right: 80px;
    background-color: #ffffff00;
    color: #fff;
    width: 130px;
    height: 50px;
    border: rgb(148, 49, 247) 4px solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
.button:hover {
    background-color: rgb(148, 49, 247);
    cursor: pointer;
}
  
.button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}
  
.button:hover svg {
    transform: translateX(5px);
}

.text {
    margin: 0 1.5em;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 12px;
}