@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

.formWindow {
    position: fixed;
    inset: 15vh 15vw;
    height: 70vh;
    width: 70vw;
    background-color: rgba(238, 238, 255, 0.8);
    border: 5px #250194 solid;
}

.formHeader {
    background-blend-mode: overlay;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 49, 247, 0.8); 
}

.formHeader h1 {
    color: #eeeeff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #250194;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
}

.formBody {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.inputTitle, .inputReview, .inputRating {
    height: 20%;
    width: 80%;
    font-size: 30px;
    font-family: 'Zilla Slab', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.inputTitle input, .inputDate input {
    height: 30px;
    width: 200px;
}

.inputTitle textarea {
    height: 60px;
    width: 200px;
}


.inputTitle label, .inputReview label {
    height: 80%;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.inputRating > label {
    margin-right: 150px;
}